﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>This quick app is created to demo the following problem:</p>
<br />
<p>     A standard shipping carton is 18” (length)  x 18” (width)  x 8” (height).  
<br />  Write a function that returns the number (i.e. quantity) of cartons that can fit inside a shipping container 
<br />  based on user provided length, width, and height in feet.
<br />
<br />  The carton always has to be upright (i.e. cannot be shipped vertically or placed on its side). 
</p>
