﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<address>
    <strong>Developer:</strong> <a href="mailto:wsbarth92@gmail.com">wsbarth92@gmail.com</a><br />
</address>
<strong>Source:</strong> <a href="https://bitbucket.org/wsbarth/seaship/src">SeaShip Source Code</a> via BitBucket(git) repo
