﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model SeaShip.Models.IndexFormModel

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">

    <div class="form-horizontal">
        <h4>Enter Size of Container (in feet):</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="containerWidth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="containerWidth" class="form-control" />
                <span asp-validation-for="containerWidth" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="containerLength" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="containerLength" class="form-control" />
                <span asp-validation-for="containerLength" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="containerHeight" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="containerHeight" class="form-control" />
                <span asp-validation-for="containerHeight" class="text-danger"></span>
            </div>
        </div> 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>

<h4>Cartons that can fit in a container of the above specs: @Html.DisplayTextFor(x=>x.cartons)</h4>
<h5>Cartons are 18"x18"x8"</h5>